name: flutter_test_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  bloc: ^9.1.0
  cached_network_image: ^3.4.1
  fluentui_system_icons: ^1.1.273
  flutter_bloc: ^9.1.1
  flutter_secure_storage: ^9.2.4
  google_fonts: ^6.3.2
  http: ^1.6.0
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.4

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icons/logo.png"

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
